ul{
  height: auto;
}

#answer{
  padding-top: 10px;
  padding-left: 10px;
  list-style:none;
  color:black;
}

@media (hover: hover)
{
  #answer
  {
    padding-top: 10px;
    padding-left: 10px;
    list-style:none;
    color:white;
  }

  ul:hover #answer{
    color:black;
  }
}