span{
  font-size:1.5rem
}

ul{
  height: auto;
  margin-bottom: 50px
}

#answer{
  padding-top: 10px;
  padding-left: 10px;
  list-style:none;
  opacity: 1;
}

#answer2{
  padding-top: 10px;
  padding-left: 10px;
  list-style:none;
}

@media (hover: hover)
{
  #answer
  {
    padding-top: 10px;
    padding-left: 10px;
    list-style:none;
    opacity: 0;
  }

  .answer{
    opacity: 0;
  }

  p:hover .answer{
    opacity: 1;
  }

  ul:hover #answer{
    opacity: 1;
  }

  ul:hover .correct{
    color:red;
  }

  ul>span{
    display: none;
  }
}